{% extends "base.html" %}
{% block body %}
<div class="bg-gray-100 flex items-center justify-center h-full md:h-screen">
    <div>
        <div class="md:flex py-5 space-y-4 md:space-x-4 md:space-y-0 mx-4 pt-8 md:mx-10">
            <form action="" method="POST" enctype="multipart/form-data" class="bg-white p-6 rounded-lg shadow-md">
                {% csrf_token %}
                <label class="text-base text-gray-500 font-semibold mb-2 block">{% block titulo %}{% endblock titulo %}</label>
                <input type="file" id="file_upload" name="file_upload" accept="image/png, image/jpeg" required class="w-full text-gray-400 font-semibold text-sm bg-white border file:cursor-pointer cursor-pointer file:border-0 file:py-3 file:px-4 file:mr-4 file:bg-gray-100 file:hover:bg-gray-200 file:text-gray-500 rounded" />
                <p class="text-xs text-gray-400 mt-2">Apenas PNG e JPG são permitidos.</p>
                <div class="w-full h-64 border border-gray-300 flex items-center justify-center">
                    <img id="preview" src="#" alt="Processed Image" class="max-w-full max-h-full hidden"/>
                </div>
                <button type="submit" class="flex bg-gray-800 hover:bg-gray-700 text-white text-base px-5 py-3 mt-5 outline-none rounded w-max cursor-pointer mx-auto font-[sans-serif]">Processar</button>
            </form>
            
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h2 class="text-lg font-bold mb-4">Imagem Processada</h2>
                <div class="h-48 md:w-64 md:h-96 lg:w-96 lg:h-96 border border-gray-300 flex items-center justify-center">
                    <form action=""></form>
                    <img id="output" src="{% if imagem %}data:image/png;base64,{{imagem}}{% else %}#{% endif %}" alt="" class="max-w-full max-h-full {% if imagem %}{% else %}hidden{% endif %}"/>
                </div>
            </div>
        </div>
        <div class="">
            {% if error %}
            <p class="p-4 my-4 mx-10 text-base leading-5 text-white bg-red-500 rounded-lg opacity-100 font-regular">{{error}}</p>
            {% endif %}
            <p class="p-4 my-4 mx-10 text-base leading-5 text-black bg-white rounded-lg opacity-100 font-regular">{% block description %}{% endblock description %}</p>
        </div>
    </div>
</div>
{% endblock body %}
{% block scripts %}
<script>
    document.querySelector('input[type="file"]').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const preview = document.getElementById('preview');
                preview.src = e.target.result;
                preview.classList.remove('hidden');
            }
            reader.readAsDataURL(file);
        }
    });
</script>
{% endblock scripts %}
