name: Django CI

on:
  push:
    branches:
        - main

jobs:
  test:
    runs-on: ubuntu-latest
    
    services:
      db:
        image: postgres:latest
        env:
          POSTGRES_USER: mytools
          POSTGRES_PASSWORD: mytools
          POSTGRES_DB: mytools
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
    
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12.3'
    
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./app/requirements.txt
    
      - name: Set up PostgreSQL
        run: |
          sleep 10
          python ./app/manage.py migrate --noinput

      - name: Run tests
        env:
          POSTGRES_HOST: localhost
          POSTGRES_DB: mytools
          POSTGRES_USER: mytools
          POSTGRES_PASSWORD: mytools
        run: |
          cd ./app
          python manage.py test
